## Limpieza de datos

In [64]:
import pandas as pd
import seaborn as sns

In [65]:
archivo = 'default of credit card clients.xls'
# Leer el archivo sin encabezados
df = pd.read_excel(archivo, header=None)

# Fusionar las dos primeras filas para crear el encabezado
new_header = df.iloc[0:2].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=0)

# Establecer el nuevo encabezado y eliminar las filas utilizadas para el encabezado
df = df[2:]  # Descarta las filas usadas para el encabezado
df.columns = new_header  # Establece el nuevo encabezado
df

,ID,X1 LIMIT_BAL,X2 SEX,X3 EDUCATION,X4 MARRIAGE,X5 AGE,X6 PAY_0,X7 PAY_2,X8 PAY_3,X9 PAY_4,...,X15 BILL_AMT4,X16 BILL_AMT5,X17 BILL_AMT6,X18 PAY_AMT1,X19 PAY_AMT2,X20 PAY_AMT3,X21 PAY_AMT4,X22 PAY_AMT5,X23 PAY_AMT6,Y default payment next month
2,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
3,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
4,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
5,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
6,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29997,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29998,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29999,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
30000,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30001,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [66]:
# Se elimina las filas que contengan un -2 entre las columnas X6 a X11
valor_especifico=-2

for i in range(8,13):
    df = df.drop(df.loc[df.iloc[:, i] == valor_especifico].index)

df

,ID,X1 LIMIT_BAL,X2 SEX,X3 EDUCATION,X4 MARRIAGE,X5 AGE,X6 PAY_0,X7 PAY_2,X8 PAY_3,X9 PAY_4,...,X15 BILL_AMT4,X16 BILL_AMT5,X17 BILL_AMT6,X18 PAY_AMT1,X19 PAY_AMT2,X20 PAY_AMT3,X21 PAY_AMT4,X22 PAY_AMT5,X23 PAY_AMT6,Y default payment next month
3,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
4,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
5,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
6,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
7,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29997,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29998,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29999,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
30000,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30001,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [67]:
filas=len(df)
for index, row in df.iterrows():
    numero_ceros = df['Y default payment next month'].value_counts()[0]
    numero_unos = df['Y default payment next month'].value_counts()[1]
    porc_ceros=numero_ceros/filas
    porc_unos=numero_unos/filas
    error=abs(porc_ceros-porc_unos)
    if error<0.00001:
        break
    elif row['Y default payment next month']==0:
        df.drop(index, inplace=True)
    filas=len(df)